.animal {
    color: rgb(238, 238, 238);
    font-size: 1.4rem;
    text-align: center;
    text-shadow: 8px 8px 8px rgb(0, 0, 0);
  }
  
  .card {
    background-color: rgba(16, 15, 15, 0.693);
    box-shadow: 2px 2px 6px 6px black;
    border-radius: 25px;
    display:flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width:90%;
  }
    
  .pic {
    float: left;
    width:  150px;
    height: 150px;
    background-size: cover;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 3px black;
  }
    
  .desc {
    color:white;
    font-size: 0.7rem;
    font-weight: 600;
    text-shadow: 3px 3px 3px black;
    padding-right: 10px;
    padding-left: 20px;
  }
  
    @media (min-width: 37.4rem) {
  
      .animal {
        font-size: 2rem;
      }
      
      .pic {
        width: 250px;
        height: 250px;
      }
  
      .desc {
        font-size: 0.9rem;
      }
  }
  
  @media (min-width: 65.7rem) {
  
      .animal {
        font-size: 3.5rem;
      }
  
      .card {
        box-shadow: 2px 2px 6px 6px black;
        border-radius: 45px;
        width:70%;
      }
  
      .pic {
        width:  400px;
        height: 400px;
        border-radius: 45px;
        box-shadow: 2px 2px 2px 6px black;
      }
  
      .desc {
        font-size: 1.5rem;
        padding-right: 30px;
      }
  }