.rates-card__pic {
    width:  200px;
    height: 100%;
  }
    
  .rates-card__H2 {
      color:white;
      font-size: 1rem;
      font-weight: 700;
      text-shadow: 6px 6px 6px black;
  }
  
  .rates-card {
    background-color: rgba(16, 15, 15, 0.693);
    box-shadow: 2px 2px 6px 6px black;
    border-radius: 25px;
    display:flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 95%;
    overflow: hidden;
  }
  
  li {
    color:white;
    font-size: 0.7rem;
    text-shadow: 3px 3px 3px black;
    list-style: none;
  }
  
  @media (min-width: 37.4rem) {
  
     .rates-card__pic {
       width:  300px;
       height: 100%;
     }      
     
     .rates-card {
       width: 75%;
     }      
     
     .rates-card__H2 {
       font-size: 1.7rem;
     }      
     
     li {
       font-size: 0.9rem;
     }
  }
  
  @media (min-width: 78rem) {  
        
      .rates-card__pic {
        width:  480px;
        height: 400px;
      }
        
      .rates-card__H2 {
        font-size: 3rem;
      }
      
      .rates-card {
        width: 65%;
      }
      
      li {
        font-size: 1.5rem;
      }
    } 
  