.review__form-container {
  width: 80%;
  height: 400px;
  background-color: rgba(16, 15, 15, 0.693);
  border-radius: 40px;
  box-shadow: 2px 2px 6px 6px rgb(38, 38, 38);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  position: relative;
  top: 100px;
}
  
.review__form-paragraph {
  color: rgb(250, 250, 248);
  font-size: 0.9rem;
  font-weight: 600;
  text-shadow: 3px 3px 3px black;
  padding-left: 15px;
  padding-top: 20px;
}

.review__form {
  color: rgb(250, 250, 248);
  font-size: 0.7rem;
  font-weight: 600;
  text-shadow: 3px 3px 3px black;
  padding-left: 20px;
}
  
.review__form label,
.review__form input,
.review__form button {
  font-size: 0.9rem;
  margin-top: 10px;
  display: block;
}

.review-form__button {
  color: white;
  background-color: rgb(52, 51, 51);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
}

.review-form__button:hover {
  color: black;
  background-color: white;
}
  
.review-container {
  background-color: rgb(16, 15, 15);
  box-shadow: 1px 5px 25px 8px rgb(0, 0, 0);
  border-radius: 30px;
  width: 80%;
  position: relative;
  top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-bottom: 50px;
}

.review__deer-pic {
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.review__username {
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(97, 97, 97);
}
  
.review__date {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.review__paragraph {
  color: white;
  font-size: 0.8rem;
  padding-left: 20px;
  padding-right: 15px;
}

@media (min-width: 37.4rem) {

   .review__form-container {
       width: 80%;
       height: 400px;
   }

   .review__form-paragraph {
     font-size: 1.2rem;
     padding-left: 20px;
     padding-right: 30px;
   }

   .review__form label,
   .review__form input,
   .review__form button {
     font-size: 1rem;
   }

   .review__deer-pic {
     width: 140px;
   }

   .review__username {
     font-size: 2rem;
   }

   .review__date {
     font-size: 1.4rem;
   }

   .review__paragraph {
     font-size: 1.1rem;
   }
}
  
@media (min-width: 78rem) {

   .review__form-container {
       width: 60%;
       height: 500px;
   }

   .review__form-paragraph {
     font-size: 1.6rem;
     padding-left: 40px;
   }

   .review__form label,
   .review__form input,
   .review__form button {
     font-size: 1.3rem;
   }

   .review-container {
     width: 60%;
   }

   .review__deer-pic {
     width: 200px;
   }

   .review__username {
     font-size: 2.5rem;
   }

   .review__date {
     font-size: 1.8rem;
   }

   .review__paragraph {
     font-size: 1.4rem;
   }
}